
body{
    overflow: hidden!important;
}

body #main-container {
    background: url(/CustomCSS/glupmann.png) center center no-repeat !important;
    background-size: cover !important;
}

.form-box {
    padding-top: 0%!important;
    margin: 0!important;
}

.form-content {
    height: 100vh;
}




/* Footer fjerner fordi den passer ikke */

.footer-container{
    display: none!important;
}