
body{
    overflow: hidden!important;
}

/* Bakgrunn */

body #main-container {
    /* background: url(/CustomCSS/glupmann.png) center center no-repeat !important;
    background-size: cover !important; */
    display: flex;
}




#BackgroundDiv{
    background-position: center;
    width: 100%;
    background-image: url(/CustomCSS/glupmann.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Form styling */

#form-login-user-password > div.form-group.form-group-login-user.margin-top-15 > div > div:nth-child(2) > div > div.col-xs-8.margin-top-15.padding-left.hidden-xs.visible-sm.visible-md.visible-lg > span > p{
    margin-bottom: 4rem;

}

#form-connect-login-error-username > div > div{
    margin-bottom: 1rem;
}

.col-sm-offset-1 {
    margin-left: 4%!important;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-box {
    padding-top: 0%!important;
    margin: 0!important;
}

.form-box.form-box-login {
    max-width: 600px!important;
    width: 600px!important;
}

.form-content {
    height: 100vh;
}

#GlupHjelpBox{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#page-login-connect > form.form-horizontal.form-connect-login.margin-top-10 > div.form-group.form-group-login.form-group-login-button{
 /* display: none; */
}   

/* Logo */

#application-logo-container{
    background-image: url(./Glup-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 150px;
    max-width: 300px;
    margin-bottom: 5rem;

}

#application-logo-container > img{
    display: none;
}

#application-header-container{
    display: none;
}


input.label-animated:focus~label, input.label-animated:not(:placeholder-shown)~label, input.label-animated:valid~label {
    font-size: 18px!important;
    top: -28px!important;
    background-color: #FFF;
    color: #000000!important;
    left: -6px;
}

.hjelpeBoxP{
    margin-bottom: 0;
}


/* Footer fjerner fordi den passer ikke */

.footer-container{
    display: none!important;
}




/* Mobil */

@media (max-width: 767px) {
.form-box {
    width: 100%!important;
}
}